<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxy.account.mapper.KeepDaliyFlowMapper" >
  <resultMap id="BaseResultMap" type="com.lxy.account.entity.KeepDaliyFlowEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="sub_type" property="subType" jdbcType="INTEGER" />
    <result column="sub_type_name" property="subTypeName" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="account_time" property="accountTime" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, type, sub_type, sub_type_name, amount, remark, account_time, is_deleted, 
    create_time, update_time
  </sql>
  
  <select id="selectByDate" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from keep_daliy_flow
    where user_id = #{userId,jdbcType=INTEGER}
    and account_time &gt;= #{accountTimeStart,jdbcType=VARCHAR}
    and account_time &lt;= #{accountTimeEnd,jdbcType=VARCHAR}
    order by account_time ,create_time 
  </select>
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from keep_daliy_flow
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <update id="deleteById" parameterType="java.lang.Integer" >
    update keep_daliy_flow set is_deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <insert id="insert" parameterType="com.lxy.account.entity.KeepDaliyFlowEntity" >
    insert into keep_daliy_flow
    <trim prefix="(" suffix=")" suffixOverrides="," >
     
      <if test="userId != null" >
        user_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="subType != null" >
        sub_type,
      </if>
      <if test="subTypeName != null" >
        sub_type_name,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="accountTime != null" >
        account_time,
      </if>
        is_deleted,
        create_time,
        update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="subType != null" >
        #{subType,jdbcType=INTEGER},
      </if>
      <if test="subTypeName != null" >
        #{subTypeName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="accountTime != null" >
        #{accountTime,jdbcType=VARCHAR},
      </if>
        0,
        now(),
        now()
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.lxy.account.entity.KeepDaliyFlowEntity" >
    update keep_daliy_flow
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="subType != null" >
        sub_type = #{subType,jdbcType=INTEGER},
      </if>
      <if test="subTypeName != null" >
        sub_type_name = #{subTypeName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="accountTime != null" >
        account_time = #{accountTime,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
     
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>